@import '../../../../styles/mixins';

.wrapper {
  display: flex;
  gap: 20px;

  /* stylelint-disable-next-line */
  @include mq(xl) {
    flex-direction: column-reverse;
  }
}

.pictureWrapper {
  @include adaptive-value-base('height', 590, 240, 1);

  align-self: flex-start;
  width: 100%;

  /* stylelint-disable-next-line */
  @include mq(xl, min) {
    flex-basis: 945px;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
