@import '../../../styles/mixins';

.root,
.inner {
  display: flex;
  align-items: center;
}

.root {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

.inner {
  gap: 8px;

  button {
    position: relative;

    width: 16px;
    height: 16px;

    border: 2px solid var(--color-magenta-500);
    border-radius: 50%;
    outline: 0;

    transition: border-color 0.3s;

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 8px;
      height: 8px;

      opacity: 0;
      background-color: var(--color-magenta-500);
      border-radius: 50%;

      transition: opacity 0.3s;
    }

    &:focus {
      border-color: var(--color-orange-400);
    }

    &[data-state='checked'] {
      &::before {
        opacity: 1;
      }
    }
  }
}

.name {
  font-weight: 500;
  color: var(--color-purple-700);
  text-transform: capitalize;
}

.errorMessage {
  color: var(--color-red-600);
}
