@import '../../../../../styles/mixins';

.container {
  padding: 0 20px;

  /* stylelint-disable-next-line */
  @include mq(xl, min) {
    max-width: 1240px;
    margin: 0 auto;
  }
}

.subtext {
  max-width: 576px;

  /* stylelint-disable-next-line */
  @include mq(md) {
    max-width: 100%;
    text-align: center;
  }
}
