:root {
  --color-white: #fff;
  --color-black: #000;
  --color-purple-100: #f7f1fb;
  --color-purple-120: #e9daf5;
  --color-purple-150: #d1c9d7;
  --color-purple-250: #a493af;
  --color-purple-300: #d59eff;
  --color-purple-400: #bd5dff;
  --color-purple-700: #5a3c6e;
  --color-purple-900: #330e4d;
  --color-orange-400: #ffa522;
  --color-magenta-500: #ed008c;
  --color-magenta-700: #b800;
  --color-red-600: #b80037;
  --color-rgba-purple-900: 51, 14, 77, 0.12;
  --box-shadow: 0 4px 40px 0 rgba(51, 14, 77, 0.12);

  --shadow-focus: 0 0 0 2px var(--color-orange-400);
}
