@import '../../../styles/mixins/index';

.contacts {
  @include flex-normal;

  flex-wrap: wrap;
  gap: 8px;
}

.contacts,
.button {
  @include mq(sm) {
    width: 100%;
  }
}

.icon {
  width: 24px;
  height: 24px;
}

.iconWhatsapp {
  fill: var(--color-white);
}

.iconEmail {
  fill: none;
  stroke: var(--color-white);
}
