@import '../../../styles/mixins';

.item {
  @include adaptive-value-base('border-radius', 20, 12, 1);

  background-color: var(--color-white);
}

.trigger {
  @include link-focus;
  @include adaptive-value-base('font-size', 24, 16, 1);
  @include adaptive-value-base('padding-top', 24, 12, 1);
  @include adaptive-value-base('padding-bottom', 24, 12, 1);
  @include adaptive-value-base('padding-right', 24, 12, 1);
  @include adaptive-value-base('padding-left', 24, 12, 1);
  @include adaptive-value-base('border-radius', 20, 12, 1);

  background-color: var(--color-white);

  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding-right: 48px;
  text-align: left;

  @media (any-hover: hover) {
    &:hover {
      .triggerText {

        &::before,
        &::after {
          background-color: var(--color-magenta-500);
        }
      }
    }
  }

  &[data-state='closed'] {
    .triggerText {
      &::after {
        opacity: 1;
      }
    }
  }
}

.triggerText {
  position: relative;
  width: 100%;
  display: block;
  padding-right: 1.5rem;

  &::before,
  &::after {
    @include adaptive-value-base('top', 20, 12, 1);

    content: '';

    position: absolute;

    width: 16px;
    height: 2px;

    background-color: var(--color-purple-250);
    border-radius: 2px;
    transition: background-color 0.3s;
  }

  &::before {
    right: 0;
  }

  &::after {
    right: -8px;
    transform: translateX(-50%) rotate(90deg);
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.content {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-purple-700);
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: inherit;

  &[data-state='closed'] {
    animation: slide-up 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  &[data-state='open'] {
    animation: slide-down 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  /* stylelint-disable-next-line */
  @include mq(md) {
    padding-right: 0;
    font-size: 14px;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.box {
  @include adaptive-value-base('padding-top', 24, 12, 1);
  @include adaptive-value-base('padding-bottom', 24, 12, 1);
  @include adaptive-value-base('padding-right', 24, 12, 1);
  @include adaptive-value-base('padding-left', 24, 12, 1);

  max-width: 720px;
  width: 100%;
}

@keyframes slide-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slide-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}