@import '../../../../styles/mixins';

.wrapper {
  @include adaptive-value-base('padding-bottom', 100, 80, 1);

  overflow: hidden;
  padding-top: 80px;
  background-color: var(--color-purple-100);
  border-radius: 20px;
}

.title {
  @include adaptive-value-base('margin-bottom', 70, 30, 1);
  @include flex-direction($justify-content: flex-start);

  text-align: center;
}

.subtitle {
  @include adaptive-value-base('font-size', 48, 18, 1);

  margin-bottom: 6px;
  font-weight: 400;
  color: var(--color-purple-700);
}
