@import '../../../styles/mixins';

.root {
  @include flex-direction;

  gap: 24px;
}

.list {
  display: flex;
  gap: 50px;
}

.content {
  outline: 0;
}

.trigger {
  @include link-focus;

  position: relative;
  text-transform: capitalize;
  transition:
    color 0.3s,
    box-shadow 0.3s;

  svg {
    position: absolute;
    bottom: -12px;
    left: 0;

    display: block;

    width: 0;

    transition: width 0.4s;
  }

  &[data-state='active'] {
    color: var(--color-orange-400);

    svg {
      width: 100%;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-orange-400);
      }
    }
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-purple-700);
    }
  }

  /* stylelint-disable-next-line */
  @include mq(sm) {
    font-size: 24px;
  }
}
